html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}
.aberforth-outline {
  font-family: 'AberforthOutlineItalic', sans-serif;
  /* Add any additional styling as needed */
}
.marcelle-script {
  font-family: 'Marcelle Script', cursive; /* Use the correct name and fallback */
}
.sangharia {
  font-family: 'Sangharia', cursive; /* Use the correct name and fallback */
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
@mixin desktopmini {
  @media (max-width: 1280px) {
    @content;
  }
}
@mixin mp {
  @media (max-width: 640px) {
    @content;
  }
}

